<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/login.css">
    <script src="static/js/jquery.js"></script>
    <script src="static/bootstrap/js/bootstrap.js"></script>
    <title>alertme</title>
</head>

<body>
    <div class="container">

    </div>
</body>

</html>