<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    p:first-of-type {
      background: #ff0000;
    }
  </style>
</head>

<body>

  <h1>This is a heading</h1>
  <p>父元素body里面第一个出现的p元素</p>
  <p>The second paragraph.</p>
  <div>
    <p>父级div中第一个出现的p元素</p>
    <p>The fourth paragraph.</p>
    <span>
      <p>父级span里面第一个出现的p元素</p>
      <p>The fourth paragraph.</p>
    </span>
  </div>
</body>

</html>