body {
    background: url("../img/background.png");
}

/* 阿里图标引入方法 */

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.my-login-box-mg {
    margin-top: 10%;
}

.my-register-box-mg {
    margin: 5% auto;
}

form {
    background: #cccccc;
    /*     width: 260px;
    height: 260px; */
    margin: 35px auto;
    padding: 30px;
    box-shadow: 0px 1px 2px 1px #aaaaaa, inset 0px 1px 1px rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}

.checkbox .myright {
    float: right;
}

body {
    position: relative;
}

.footer {
    text-align: center;
    width: 20%;
    height: 30px;
    line-height: 30px;
    position: fixed;
    bottom: 0px;
    left: 40%;
}