body {
    background: url("../img/background.png");
}

ul,
ol {
    list-style: none;
}

/* 阿里图标引入 ----------------------------------------------------------------------*/

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* 登录、注册页面样式 -------------------------------------------------------------------------*/

.my-login-box-mg {
    margin-top: 10%;
}

.my-register-box-mg {
    margin: 5% auto;
}

form {
    background: #cccccc;
    /*     width: 260px;
    height: 260px; */
    margin: 35px auto;
    padding: 30px;
    box-shadow: 0px 1px 2px 1px #aaaaaa, inset 0px 1px 1px rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}

.myright {
    float: right;
}

body {
    position: relative;
}

.footer {
    text-align: center;
    width: 20%;
    height: 30px;
    line-height: 30px;
    position: fixed;
    bottom: 0px;
    left: 40%;
}

/* 主页样式 -----------------------------------------------------------------------------*/

.my-home-caption-menu,
.my-home-caption-search {
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    padding: 8px 8px 0px 15px;
    margin-bottom: -10px;
}

.my-home-caption-menu {
    padding-right: 30px;
}

.my-home-caption-menu span {
    color: rgb(223, 130, 130);
}


#imgurl {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 25px;
    border-radius: 10px;
    background-color: white;
    font-size: 8px;
}
.navbar{
    position: relative;
}
.userimg .usermassge {
    /*  display: none; */
    position: absolute;
    top: 30px;
    right: 30px;
}

#imgurl:hover .usermassge {
    display: block;
}
/* 待办事项列表样式 */
.list-group-item input,
.list-group-item .badge{
   float: left;
   margin-right: 8px;
   
}

.list-group-item .icon{
   float: right;
   margin-left: 8px;
   cursor: pointer;
  
}
.clearfloat{
    clear: both;
}